<a href="https://colab.research.google.com/github/atfan7/Feature-Engineering/blob/main/F_E_Problems_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1:: In the loan.csv dataset, we wish to test the hypothesis that the loan amount payable per year is different for women and unmarried men.

To do so, first define a new feature called 'Loan_Amount_per_year' using the formula 'LoanAmount' / 'Loan_Amount_Term'.

Next, define group1 as the women loan applicants, and group2 as the unmarried male applicants. Print out their variances.

Perform a Levene test using the median as the center to check whether the variances of the two groups are significantly different.

Next, apply the t-test to check whether the average loan amount payable is significantly different for the two groups. What interpretations can be drawn from the tests conducted?

Note: Assume the significance level to be 5%.

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import levene, ttest_ind

In [2]:
data = pd.read_csv("https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/018/746/original/loan.csv?1666170299.csv")

In [3]:
data['Loan_Amount_per_year'] = data['LoanAmount'] / data['Loan_Amount_Term']

In [4]:
group1 = data[(data["Gender"] == "Male") & (data["Married"] == "No")]['Loan_Amount_per_year']

In [5]:
group2 = data[(data["Gender"] == "Female")]['Loan_Amount_per_year']

In [6]:
group1 = group1.dropna()
group2 = group2.dropna()

In [7]:
print("Number of group1 datapoints", len(group1))
print("Variance of group1:",round(np.var(group1),2))
print("Number of group2 datapoints", len(group2))
print("Variance of group2:",round(np.var(group2),2))

Number of group1 datapoints 123
Variance of group1: 0.11
Number of group2 datapoints 106
Variance of group2: 0.22

In [8]:
levene_p_value = levene(group1, group2, center='median')[1]
print("levene test p-value", round(levene_p_value,2))

levene test p-value 0.87

In [9]:
t_test_p_value = ttest_ind(group1, group2)[1]
print("t-test p-value:", round(t_test_p_value,2))

t-test p-value: 0.82

Q2:: In the loan.csv dataset, we wish to test the hypothesis that among all loan applicants with a Credit_History of 1 who were rejected for a loan, the married group of people applied for a loan amount that is significantly different from the unmarried applicants.

To do so, first, define group1 as the married group and group2 as the unmarried group, and retrieve their "LoanAmount" details. Drop the columns containing 'nan'.

Print out their variances, and perform a Levene test to check whether the variance in the loan amount for the two groups is significantly different.

Next, apply the Krushkal test to check if the median loan amount is significantly different for the two groups. What interpretations can you draw from the tests performed?

Note: Assume a significance level of 5%.

In [10]:
from scipy.stats import kruskal

In [11]:
target_val = data[(data['Credit_History']==1) & (data['Loan_Status']=='N')]

In [12]:
group1 = target_val[target_val['Married']=='Yes']['LoanAmount']

group2 = target_val[target_val['Married']=='No']['LoanAmount']

In [13]:
group1= group1.dropna()
group2 =group2.dropna()

In [14]:
print("Variance of Married people Loan Amount: ", group1.var())
print("Variance of Unmarried people Loan Amount: ", group2.var())

Variance of Married people Loan Amount:  10138.54210992908
Variance of Unmarried people Loan Amount:  7901.813953488371

#levene test
# H0: Both the groups variance are significantly identical
#Ha: Both the groups variance are significantly different

In [17]:
p_val = levene(group1,group2)[1]
print("Pvalue of levene test: ", round(p_val,3))
if p_val < 0.05:
  print(" Both the groups variance are significantly different")
else:
  print("Both the groups variance are significantly identical")

Pvalue of levene test:  0.778
Both the groups variance are significantly identical

#kruskal test
#H0: Both the groups medians are significantly identical
#Ha: Both the groups medians are significantly different

In [18]:
p_value = kruskal(group1,group2)[1]
print("Kruskal test p_value is: ", round(p_value,2))
if p_value < 0.05:
  print(" Both the groups medians are significantly different")
else:
  print("Both the groups medians are significantly identical")

Kruskal test p_value is:  0.02
 Both the groups medians are significantly different

Q3::In the loan.csv dataset, we wish to test the hypothesis that among all loan applicants who were rejected for a loan, the applicant income of the people with a credit history of 1 is significantly different from the applicant income of the people with a credit history of 0.

To do so, first, define group1 as the people with a credit history of 0, and group2 as the people with a credit history of 1.

Retrieve their Applicant Income information and drop the columns containing 'nan'.

Next, apply the Krushkal test to check whether the mean applicant income of the two groups is significantly different, and the Levene test to check if the variance in the applicant income for the two groups is significantly different. What are the results of these tests, and what interpretations can you draw?

Note: Assume a significance level of 5%.

In [19]:
group1 = data[ (data["Credit_History"] == 1) & (data["Loan_Status"] == "N") ]["ApplicantIncome"]
group2 = data[ (data["Credit_History"] == 0) & (data["Loan_Status"] == "N") ]["ApplicantIncome"]

In [20]:
group1 = group1.dropna()
group2 = group2.dropna()

In [21]:
print("Number of group1 datapoints", len(group1))
print("Variance of group1:",round(np.var(group1),2))
print("Number of group2 datapoints", len(group2))
print("Variance of group2:",round(np.var(group2),2))

Number of group1 datapoints 97
Variance of group1: 24490818.79
Number of group2 datapoints 82
Variance of group2: 78088900.62

In [22]:
levene_p_value = levene(group1, group2, center='trimmed')[1]
print("levene test p-value", round(levene_p_value,3))

levene test p-value 0.028

In [23]:
krushkal_p_value = kruskal(group1, group2)[1]
print("kruskal: ", round(krushkal_p_value, 3))

kruskal:  0.152

Q4:: In the loan.csv dataset, we wish to test the hypothesis that among all loan applicants who were rejected for a loan, applicants with a credit history of 1 are more likely to be female.

Use a chi-square test to verify this claim (Ensure that you drop all nan rows), and report your interpretation.

Note: Use a significance level of 5%.

In [28]:
from scipy.stats import chi2_contingency

In [24]:
data1= data[(data['Loan_Status'] == 'N')]

Null hypothesis (H0): the features are independent.
Alternate hypothesis (Ha) : the features are dependent.

In [26]:
contingency = pd.crosstab(data1['Gender'], data1['Credit_History'])

In [29]:
print('\n',contingency,'\n')
p_value = chi2_contingency(contingency)[1]
print('p-value:',round(p_value,2))
if p_value > 0.05:
 print('Since p_value > 0.05 we fail to reject the null hypothesis.')
else:
 print('Since p_value < 0.05 we reject the null hypothesis.')

 Credit_History  0.0  1.0
Gender
Female           16   20
Male             63   75

p-value: 1.0
Since p_value > 0.05 we fail to reject the null hypothesis.

In [ ]:
Q5:: In the loan.csv dataset, we observed that among all applicants with a credit history of 1, 272 males and 53 females were granted loans, while 66 males and 19 females were not granted loans.

We suspect a gender bias towards males here, and wish to test if there is any statistical significance to our claim.

Perform a chi-square test to do so, and report your interpretations.

Note: Assume a significance level of 5%.

In [30]:
chn = data[(data["Credit_History"] == 1)]

In [31]:
chn = chn.dropna()

In [32]:
contingency = pd.crosstab(chn['Gender'], chn['Loan_Status'])
print('Contingency table',contingency)

Contingency table Loan_Status   N    Y
Gender
Female       19   53
Male         66  272

In [35]:
p_value=chi2_contingency(contingency)[1]
print('p-value:', round(p_value,2))

if p_value > 0.05:
 print('Since p_value > 0.05, we fail to reject the null hypothesis.')
else:
 print('Since p_value < 0.05, we reject the null hypothesis.')

p-value: 0.25
Since p_value > 0.05, we fail to reject the null hypothesis.